Django
gunicorn
djangorestframework
django-rest-swagger
requests
simplejson
lxml
python-dateutil
pytest

#mysql-python
python-memcached

#coverage
#mock
#model-mommy
#nose

#sphinx

#py-logstash

#gevent